<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="HesabDariEntities" connectionString="metadata=res://*/HesabDari.csdl|res://*/HesabDari.ssdl|res://*/HesabDari.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HesabDari;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="HesabDariEntitiesnew" connectionString="metadata=res://*/HesabdariModels.csdl|res://*/HesabdariModels.ssdl|res://*/HesabdariModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HesabDari;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
